/* p:nth-child(2) {
    color: coral; --> Pinta el segundo hijo en parrafo
} */
/* p:nth-of-type(2) {
    color: coral;
}
p:last-child{
    color: cadetblue;
}
p:first-child {
    color: royalblue;
} */
/* *{
    color: peru;
} */
:root{
    --color-base : salmon;
    --color-texto : brown;
}

* {
    color: royalblue;  

}
*:not(p) {
    color: var(--color-texto);
}
    
p:not(:first-of-type) {
    border: 1px solid;
}